/run.sh
*.iml
.classpath
.project
/target/
?/
*/.m2/
\.idea/
.DS_Store
.settings
/shippable/
/.gradle/
bin
/build/
task-component-test/out/
mock_server\.log
mock_server_pid\.txt
\.bash_history
.settings/
gradlew
gradlew.bat
/containers
/axis/build/lib/XBeans-packaged.jar
/axis/build/classes/
/docker-compose.yml
bff.env
Dockerfile-dev
venv